*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/arka-yan.png) no-repeat;
    width: 1920px;
    height: 928px;
    padding-left: 235px;
    padding-right: 235px;
    padding-top: 50px;
    padding-bottom: 50px;
}