*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/arka-yan.png) no-repeat;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-size: auto; 
    background-position: left left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}
.button{
    width: 150px; ;
    background-color: rgba(115, 88, 161,1);
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    display: block;
  }
  .button:hover{
    width: 150px; ;
    background-color: rgba(43,35,61,1);
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    display: block;
  }
  .button2{
      margin-left: 585px;
      width: 100px;
      background-color: rgba(115, 88, 161,1);
      border: none;
      border-radius: 10px;
      color: white;
      text-align: center;
      text-decoration: none;
      font-family: 'Fira Sans Condensed', sans-serif;
      font-size: 18px;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;
      display: block;
    }
    .button2:hover{
      margin-left: 585px;
      width: 100px; ;
      background-color: rgba(43,35,61,1);
      border: none;
      border-radius: 10px;
      color: white;
      text-align: center;
      text-decoration: none;
      font-family: 'Fira Sans Condensed', sans-serif;
      font-weight: bold;
      font-size: 18px;
      padding-top: 15px;
      padding-bottom: 15px;
      cursor: pointer;
      display: block;
    }