*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: url(../images/small1920.png) no-repeat;
    width: 1920px;
    height: 925px;
    padding-left: 235px;
    padding-right: 235px;
    padding-top: 50px;
    padding-bottom: 50px;
}